<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/index.css">

    <meta charset="UTF-8">
    <title>Loomst</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico"/>
</head>
<body>
<div>
    <h1 class="header">Loomst</h1>
    <div>
        <img class="image" src="../static/loomst-icon-normal.png" alt="Loom Icon">
    </div>
</div>
<div class="buttons">
    <form action="/next" method=post>
        <input value="Start" type="submit" class="button next">
    </form>
</div>
</body>
</html>
