<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/index.css">

    <meta charset="UTF-8">
    <title>Loomst</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico"/>
</head>
<body>
<div>
    <div class="box" style="font-family: 'Ubuntu',monospace">
        {% for row in content %}
            {% if index == loop.index %}
                <b class="target">{{ loop.index }}: {{ row }}</b>
            {% else %}
                <div>{{ loop.index }}: {{ row }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="buttons">
    <form action="/previous" method=post>
        <input value="Previous" type="submit" class="prev">
    </form>
    <form action="/next" method=post>
        <input value="Next" type="submit" class="next">
    </form>
</div>
<div class="off">
    <form action="/off" method=post>
        <input value="Off" type="submit" class="off-button">
    </form>
</div>
</body>
</html>
